*{
    margin: 0;
    box-sizing: border-box;
}

.html, 
body {
    font-size: 20px;
    font-family: 'Lato' , 'Arial' , sans-serif;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

.clearrealfix {zoom:1}
.clearrealfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

body{
    text-align: justify;
    font-family: arial;
    font-size: 18px;
}

p{
    margin-bottom: 10px;
}

}

.classify{
    line-height: 90%;
}
.vasat {
    width: 1140px;
    margin: 20px auto 0 auto;
}

.images {
    width: 25%;
    float: left;
    border-left: 1px solid #676767;
    padding-left: 20px;
}

.images img{
    border-radius: 50%;
}

.date{
    position: absolute;
    top : 70px;
    right : 30px;
}

.informations {
    position: relative;
    padding-right: 30px;
    width: 75%;
    float: left;
}

/* ---HEADER--- */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7) , rgba(0, 0, 0, 0.7)) , url(img/NAWIxMURDER.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.header-text-box {
    color: #696767;
    margin-bottom: 20px;
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

h2{
    margin-bottom: 30px;
    width: 1140px;
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #000;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

h3{
    font-size: 110%;
    margin-bottom: 15px;
}

h4{
    margin-bottom: 30px;
    width: 1140px;
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
}

h4:after {
    display: block;
    height: 2px;
    background-color: #fff;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

/* ---NAVIGATION--- */
.nav-paragraph {
    left: 0;
}

nav li { float: right; }

nav .nav-paragraph {
    display: none;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited,
input[type=submit] {
    padding: 8px 16px;
    color: #edecec;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-radius: 200px;
    border: 1px solid #edecec;
    transition: border 0.2s , background-color 0.2s , color 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active,
input[type=submit]:hover,
input[type=submit]:active {
    border: 1px solid #000;
    color: #000;
    background-color: #edecec;
}

/* ---STICKY-NAVIGATION--- */
.sticky .nav-paragraph {
    margin-right: 310px;
    float: left;
}

nav p {
    margin-top: 20px;
}

.sticky .nav-paragraph {
    display: block;
}

.sticky .main-nav {
    margin-top: 20px;
}

.sticky .main-nav li a:hover,
.sticky .main-nav li a:active {
    box-shadow: 0 2px 2px #000;
    color: #000;
    background-color: #edecec;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 8px 16px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-radius: 200px;
    border: 1px solid #000;
    transition: box-shadow 0.2s , background-color 0.2s , color 0.2s;
}

.sticky {
    position: fixed;
    padding-bottom: 10px;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f7f7f7;
    box-shadow: 0 2px 2px #cecece;
    z-index: 9999;
}

/* -----SECTIONS----- */

section{
    margin : 80px 0;
    padding-top: 100px;
}

.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}
/* -----GRID COLUMN SETUP----- */
.col {
    display: block;
    float: left;
    margin: 1% 0% 1% 1.6%;
}

.col:first-child {
    margin-left: 0; 
}

.column {
    overflow: hidden;
    display: block;
    float: left;
    margin: 1% 0% 1% 1.6%;
}

.span-1-of-2 {
    width: 50%;
}

.span-1-of-4 {
    width: 23.8%;
}

.span-3-of-4 {
    widows: 71.4%;
}

.span-1-of-3 {
    float: left;
    width: 31%;
}

.span-2-of-3 {
    width: 66.13%;
}

/* ---PARAGRAPHS--- */
.h2-paragraph {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.extra p{
    font-size: 90%;
    line-height: 145%;
}

/* ---ICONS--- */
.icon-big {
    font-size: 350%;
    display: block;
    color: #0a0c34;
    margin-bottom: 10px;
}

/* ---GAME-PHOTO--- */

.section-game {
    background-color: #fff;
}

.game-showcase {
    list-style: none;
    width: 100%;
    padding: 0;
}

.game-showcase li{
    display: block;
    float: left;
    width: 25%;
}

.game-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.game-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s , opacity 0.5s;
}

.game-photo img:hover {
    opacity: 1;
    transform: scale(1.03);
}

/* ---FRIENDS--- */

.section-friends{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8) , rgba(0, 0, 0, 0.8)) , url(img/Background-friend.jpeg);
    background-size: cover;
    background-position: center;
    color: #fff;
    background-attachment: fixed;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 0;
}

blockquote {
    padding: 2%;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}

cite img{
    width: 100%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    vertical-align: middle;
}

cite{
    display: block;
    font-size: 90%;
    margin-top: 25px;   
}

.anotherone {
    padding: 0;
    margin: 0;
}


.login {
    background-color: red;
}

/* ---FORM--- */
.contact-form {
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

input[type=submit] {
    color: #000;
}

*:focus {outline: none;}

/* ---FOOTER--- */

footer {
    position: relative;
    background-color: #333;
    margin: 0;
    padding: 100px;
}

footer a:link,
footer a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    transition: color 0.2s;
}

footer a:hover,
footer a:active {
    color: #517fa4;
}













