/* big tablet to 1200px (widths smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {
    
    .header-text-box {
        width: 100%;
        padding: 0 2%;
    }

    
    .row { padding: 0 2%; }
}

/* smaller tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
    body { font-size: 17px; }
    section { padding: 0; }
    .date{
        top : 110px;
        right : 30px;
    }
    h2, h4 { width: 100%; }
    .game-photo img:hover { -webkit-transform: scale(1.05); transform: scale(1.05); }
    
    .contact-form { width: 80%; }
    .sticky .nav-paragraph { display: none; }
    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited {
        padding: 5px 9px;
        color: #000;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 90%;
        border-radius: 200px;
        border: 1px solid #000;
        transition: box-shadow 0.2s , background-color 0.2s , color 0.2s;
    }


}

/* small phone to small tablet: from 481px to 767px */
@media only screen and (max-width: 767px) {
    body { font-size: 13px; }
    section { 
        padding: 0; 
        margin: 30px 0;
    }
    .images { width: 100%; }
    .informations {
        padding-bottom: 10px;
        padding-right: 0;
        width: 100%;
    }
    .date {
        top: 150px;
        right: 0;
    }
    .col { width: 100% }
    .column { width: 100% }
    .section-game { background-color: #fff; }
    .game-photo img:hover { -webkit-transform: scale(1.06); transform: scale(1.06); }
    .contact-form { width: 80%; }
    footer { padding: 20px; }
    .sticky { display: none; }
    nav li { 
        width: 100%;
        margin-bottom: 20px;
    }

}

/* small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    body { font-size: 10px; }
    section { 
        padding: 0; 
        margin: 5px 0;
    }
    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited { padding: 3px 3px; }
    .sticky { padding-bottom: 10px; }
    nav li { 
        width: 100%;
        margin-bottom: 20px;
    }
    
}